/**
 * SCREEN
 * Default for all browsers
 * --------------------------------------------------------------------------
 * Author      : Connect Duo
 * Contact     : ti[at]cntd.com.br/ +55 11 98475-9151
 * --------------------------------------------------------------------------

 [Table Of Contents]

    0-  Reset
    1-  Global
    2-  Body Structure
    3-  Links
    4-  Headings /typograph
    5-  Forms
    6-  Table
    7-  Header
    8-  Main
    9-  Footer
-----------------------------------------------------------------------------*/


/* =0 Reset
-----------------------------------------------------------------------------*/
@import url("reset.css");


/* =1 Global
-----------------------------------------------------------------------------*/
@import url("helpers.css");


/* =2 Body Structure
-----------------------------------------------------------------------------*/
#wrapper { }


/* =3 Links
-----------------------------------------------------------------------------*/
a:link, a:visited   { }
a:hover             { }
a:active            { }
a:visited           { }


/* =4 Headings / typograph
-----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 { }

h1 { }
h2 { }
h3 { }
h4 { }
h5 { }
h6 { }


/* =5 Forms
-----------------------------------------------------------------------------*/
form      { }
fieldset  { }
legend    { }
label     { }
select,
input,
textarea  { }
input,
select    { }


/* =6 Table
-----------------------------------------------------------------------------*/
table             { }
table th          { }
table tr          { }
table tr.even td  { }
table td          { }
summary           { }


/* =7 Header
-----------------------------------------------------------------------------*/
#header { }


/* =8 Main
-----------------------------------------------------------------------------*/
#main { }


/* =9 Footer
-----------------------------------------------------------------------------*/
#footer {  }